html,
body {
  height: 100%;
}

.form-control {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-control form-control-lg {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 3000px;
}
.form-control .form-control:focus {
  z-index: 2;
}
.form-control input[type="nome"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control input[type="data"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control button {
  width: 100%;
}

